body {
  font-family: var(--font-family);
  /* background-color: var(--background-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: var(--primary-color);
}

div > button {
  cursor: pointer;
  margin: 20px;
}

.input-group {
  /* display: flex; */
  gap: 10px;
  margin-bottom: 2rem;
}

.input-group input {
  flex-grow: 1;
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  transition: border-color 0.3s;
}
